body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, rgb(13, 6, 147) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.container {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
}

#increment-counter, #decrement-counter {
    font-size: 2rem;
    margin: 20px 0;
    color: #007BFF;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #999;
}
